<%= render @event %>
<% if @event.user_id == current_user.id  %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to "Destroy", @event, remote: true, method: :delete, data: { confirm: "You sure?" } %> |
<% end %>
<% if @event.available? %>
  <%= render "attendances/#{action_type @attendance}" %>
<% else %>
  <span>The event is Closed.</span>
<% end %>
<%= render "participant" %>
<%= link_to 'Back', events_path %>
<%= render "layouts/social_share" if current_user.sharable %>
