<%= render @event %>
<% if user_signed_in? %>
  <% if @event.user_id == current_user.id  %>
    <%= link_to 'Edit', edit_event_path(@event) %> |
    <%= link_to "Destroy", @event, remote: true, method: :delete, data: { confirm: "You sure?" } %> |
  <% end %>
  <% if @attendance.state %>
    <%= form_for @attendance, method: :put, remote: true, html: { class: "form-inline" } do |f| %>
      <div class="form-group">
        <div class="input-group">
          <%= hidden_field_tag :event_id, @event.id %>
          <%= hidden_field_tag :state, attending?(@attendance) ? 2 : 1 %>
        </div>
        <%= f.button attending?(@attendance) ? "Absent" : "Attend", class: "btn btn-primary" %>
      </div>
    <% end %>
  <% else %>
      <%= form_for @attendance, remote: true, html: { class: "form-inline" } do |f| %>
        <div class="form-group">
          <div class="input-group">
            <%= hidden_field_tag :event_id, @event.id %>
            <%= hidden_field_tag :state, 1 %>
          </div>
          <%= f.button "Attend", class: "btn btn-primary" %>
        </div>
      <% end %>
  <% end %>
<% end %>

<%= link_to 'Back', events_path %>