<h1>Search Results</h1>
<p><%= "Found #{pluralize(@count, "result")}" %></p>
<ul class="event">
  <%= render @searchs %>
</ul>
<%= will_paginate %>
<%= link_to 'New Event', new_event_path %> |
<%= link_to 'Back', events_path %>